{% extends "base.html" %}

{% block content %}

<article class="main">
    <header class="title">

        <a class="nav-button" href="{{ url_for('reference') }}"> >> </a>
        <a class="nav-button" href="{{ url_for('sckf') }}">
            << </a>
                <br><br>

                <h1>SLAM: Simultaneous Localization &
                    Map Building</h1>


    </header>

    <!-- Slide 1 -->
    <section class="left-align">

        <h2>Application: Robot Localization</h2>

        <p>
            <img src="{{ url_for('static', filename='images/bicycle_model.png') }}"
                style="width: 60%; height: auto; display: block; margin: 0 auto;">
        </p>
        <ul>

            <li>
                We consider a localization problem where a car-like robot employs the SCKF to estimate its own pose
                based on
                a set of
                landmarks and on-board sensor measurements.
            </li>
            <li>The robot’s pose (state vector), represented as \((x, y, \theta)\), is initialized using a less precise
                map dataset, akin to GPS accuracy. </li>
            <li>As the robot moves, we assume that the robot continuously adjusts its position and steering angle. </li>
            <li>An onboard radar sensor measures the range and bearing with respect to known landmarks, provided they
                are within the
                sensor’s detection range and field of view. </li>
            <li>We employ the SCKF as an onboard estimator for the following reasons: (1) Its improved estimation
                accuracy
                enables the robot to navigate even without measurements at times (2) Its efficient formulation is
                expected
                to meet strict time constraint without failures.


            </li>



        </ul>
        <p style="text-align: right;">Page 1</p>
        <hr class="full-width">
    </section>





    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Bicycle Model</h2>


        <ul>

            <li>We write the dynamic state space model for the above scenario as follows:
                <br>
                Process Equation:
                \[
                \begin{bmatrix}
                x_{1,k}\\
                x_{2,k}\\
                x_{3,k}
                \end{bmatrix}
                =
                \begin{bmatrix}
                x_{1,k-1}\\
                x_{2,k-1}\\
                x_{3,k-1}
                \end{bmatrix}
                +
                \begin{bmatrix}
                \cos(x_{3,k-1}) & -\sin(x_{3,k-1}) & 0\\
                \sin(x_{3,k-1}) &\cos(x_{3,k-1}) & 0\\
                0 & 0 & 1
                \end{bmatrix}
                \begin{bmatrix}
                u_{1,k-1}\\
                u_{2,k-1}\\
                u_{3,k-1}
                \end{bmatrix}

                + \mathbf{v}_{k}

                \]

            </li>

            <li>
                Measurement Equation:
                \[
                \begin{bmatrix}
                z_{1,k}\\
                z_{2,k}
                \end{bmatrix}
                =
                \begin{bmatrix}
                \sqrt{(x_{1,k} - x_{\text{lmk},i})^{2}+(x_{2,k} - y_{\text{lmk},i})^{2}}\\
                \tan^{-1}(\frac{(x_{2,k} - y_{\text{lmk},i})}{(x_{1,k} - x_{\text{lmk},i})}) - x_{3,k}
                \end{bmatrix} + \mathbf{w}_{k}

                \]

            </li>


        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Experimental Settings</h2>


        <ul>

            <li>
                The initial position of the robot was set to \([40m, 25m, 0^\circ]\) in the global co-ordinate.
            </li>
            <li>
                The radar was assumed to have a limited line of sight, detecting only landmarks within a range of 50m
                and an angular field of view of 30 degrees.
                For this reason, as you can see from the below plot, the robot had to estimate its position without the
                measurements at times.
            </li>
            <li>
                The control input was set to be constant at \([0, 1, 3^\circ]\). Therefore, as you can see from the
                process equation above, at every time step, the robot took a step of 1m up in the y-direction with a
                front wheel turning by \(3^{\circ}\) anti-clock wise
                in its local coordinate leading to an elliptical path. For realistic simulation though, we added
                Gaussian noise characterized by a
                mean of 0 and a standard deviation of \([0.01m, 0.01m, 1.5^\circ]\)

            </li>

            <li> The trajectory was simulated for 120 seconds making a full rotation.</li>

            <li>
                The on-board radar measurements were modeled as noisy, with Gaussian-distributed noise having a mean of
                0 and a standard deviation of \([1.1m, 5^\circ]\).
            </li>

            <li>
                We randomly placed 15 landmarks in the environment. Radar measurements in the local coordinate frame
                were transformed into the global coordinate system in the x and y planes. The nearest neighbor technique
                was then applied to identify the corresponding landmarks.
            </li>
        </ul>
        <p style="text-align: right;">Page 3</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Results</h2>


        <ul>

            <p>
                <img src="{{ url_for('static', filename='images/robot_result.png') }}"
                    style="width: 100%; height: auto; display: block; margin: 0 auto;">
            </p>


            <li>
                Please check out <a href="https://github.com/haranarasaratnam">my github repo</a> for MATLAB code.
            </li>

        </ul>
        <p style="text-align: right;">Page 4</p>
        <hr class="full-width">
    </section>


    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</article>

{% endblock %}