{% extends "base.html" %}

{% block content %}

<article class="main">
    <header class="title">

        <a class="nav-button" href="{{ url_for('application_2') }}"> >> </a>
        <a class="nav-button" href="{{ url_for('sckf') }}">
            << </a>
                <br><br>

                <h1>Radar Tracking</h1>


    </header>

    <!-- Slide 1 -->
    <section class="left-align">

        <h2>Scenario</h2>

        <p>
            <img src="{{ url_for('static', filename='images/application_1_radar_1.png') }}"
                style="width: 60%; height: auto; display: block; margin: 0 auto;">
        </p>
        <ul>

            <li>
                We consider a typical air-traffic control scenario where the objective is to track
                the trajectory of an aircraft that executes a maneuver at nearly constant speed and turn rate in the
                horizontal plane. In the tracking literature, this is commonly captured by a "constant turn rate (CTR)"
                model.
            </li>
            <li>The 5-dimensional aircraft state vector, represented by \((x, \dot{x}, y, \dot{y}, \omega)\), refers
                to the position and velocity of the aircraft in x direction, y direction and the turn rate.
            </li>
            <li>As the aircraft manuevers, we assume that the radar measures the range, bearing and range rate as shown
                in the above
                figure </li>
            <li>We employ the CKF to track the aircraft's trajectory.


            </li>



        </ul>
        <p style="text-align: right;">Page 1</p>
        <hr class="full-width">
    </section>





    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Constant Turn Rate Model</h2>


        <ul>

            <li>We write the dynamic state space model for the above scenario as follows:
                <br>
                Process Equation:
                \[
                \begin{bmatrix}
                x_{k+1}\\
                \dot{x}_{k+1}\\
                y_{k+1}\\
                \dot{y}_{k+1}\\
                \omega_{k+1}
                \end{bmatrix}
                =
                \begin{bmatrix}
                1 & TS & 0 & -TC &0 \\
                0 & \cos\omega_{k} T & 0 &-\sin\omega_{k} T& 0\\
                0 & TC & 1 & TS & 0\\
                0 & \sin\omega_{k} T &0 & cos\omega_{k} T &0\\
                0 &0 & 0 & 0 &1
                \end{bmatrix}

                \begin{bmatrix}
                x_{k}\\
                \dot{x}_{k}\\
                y_{k}\\
                \dot{y}_{k}\\
                \omega_{k}
                \end{bmatrix}
                +
                \begin{bmatrix}
                \frac{1}{2}v_{x,k}T^{2}\\
                v_{x,k}T\\
                \frac{1}{2}v_{y,k}T^{2}\\
                v_{y,k}T\\
                v_{\omega,k}T
                \end{bmatrix}

                \]

                where the two variables \(TS\) and \(TC\) are

                \[
                \begin{align}

                TS &= \frac{\sin\omega_{k} T}{\omega_{k}}\\
                TC &= \frac{1 - \cos\omega_{k} T}{\omega_{k}}

                \end{align}

                \]

            </li>

            <li>
                Measurement Equation:
                \[
                \begin{bmatrix}
                z_{1,k}\\
                z_{2,k}\\
                z_{3, k}
                \end{bmatrix}
                =
                \begin{bmatrix}
                \sqrt{x^{2}_{k}+y^{2}_{k}}\\
                \tan^{-1}(\frac{y_{k}}{x_{k}}) \\
                \frac{x_{k}\dot{x}_{k} + y_{k}\dot{y}_{k}}{\sqrt{x^{2}_{k}+y^{2}_{k}}}
                \end{bmatrix} + \mathbf{w}_{k}

                \]

            </li>


        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>



    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Results</h2>


        <ul>

            <p>
                <img src="{{ url_for('static', filename='images/application_1_radar_1.png') }}"
                    style="width: 60%; height: auto; display: block; margin: 0 auto;">
            </p>

            <p>
                <img src="{{ url_for('static', filename='images/application_1_radar_2.png') }}"
                    style="width: 60%; height: auto; display: block; margin: 0 auto;">
            </p>



        </ul>
        <p style="text-align: right;">Page 3</p>
        <hr class="full-width">
    </section>






    <!-- Slide 2 -->
    <section class="left-align">

        <h2>Python Code: Initialization</h2>


        <ul>



            <li> The below Python code comprises of 5 sections -- (1) Initialization (2) Model Definition
                (3) CKF Estimator (4) Utility Function (Plotting) (5) Main

            </li>

        </ul>

        <pre><code class="python">
import math
import matplotlib.pyplot as plt
import numpy as np
from scipy import linalg

dt = 0.1
N = 300

show_final = 1
show_animation = 0
show_ellipse = 0

loc_radar = np.array([0, 0])


z_noise = np.array([[0.1, 0.0, 0.0],             # range   [m]
                    [0.0, np.deg2rad(1.2), 0.0], # azimuth [rad]
                    [0.0, 0.0, 0.1]])           # range rate [m/s]    



x_0 = np.array([[100.0],                                  # x position    [m]
                [-30.0],                                  # x velocity     [m/s]
                [100.0],                                  # x position    [m]
                [30.0],                                   # y velocity      [m/s]
                [np.deg2rad(-3)]])                        # turn rate     [rad/s]
    

p_0 = np.array([[1e1, 0.0, 0.0, 0.0, 0.0],
                [0.0, 1e1, 0.0, 0.0, 0.0],
                [0.0, 0.0, 1e1, 0.0, 0.0],
                [0.0, 0.0, 0.0, 1e1, 0.0],
                [0.0, 0.0, 0.0, 0.0, np.deg2rad(1)]])


sigma_v1 = 1e-6
sigma_v2 = np.deg2rad(1e-4)

G = np.array([[dt**2/2, 0, 0],
              [dt, 0, 0],
              [0, dt**2/2, 0],
              [0, dt, 0],
              [0, 0, dt]])

sigma_v = np.diag([sigma_v1, sigma_v1, sigma_v2])

Q = G @ sigma_v @ G.T


R = np.array([[0.15, 0.0, 0.0],
              [0.0, np.deg2rad(2.5), 0.0],
              [0.0, 0.0, 0.15]])**2

            </code></pre>

        <p style="text-align: right;">Page 4</p>
        <hr class="full-width">
    </section>






    <section class="left-align">

        <h2>Python Code: Model Definition</h2>


        <ul>



            <li>

            </li>

        </ul>

        <pre><code class="python">
def f(x):
    """
    Motion Model
    References:
    https://www.mathworks.com/help/fusion/ug/motion-model-state-and-process-noise.html
    """

    x[0] = x[0] + x[1] * np.sin(x[4]*dt)/x[4] - x[3] * (1- (np.cos(x[4]*dt)))/x[4]
    x[1] = x[1] * np.cos(x[4]*dt) - x[3]* np.sin(x[4]*dt)
    x[2] = x[2] + x[3] * np.sin(x[4]*dt)/x[4] + x[1] * (1- (np.cos(x[4]* dt)))/x[4]
    x[3] = x[3] * np.cos(x[4]*dt) + x[1] * np.sin(x[4]*dt) 
    x[4] = x[4]

    return x


def h(x):
    """Measurement Model
    Range, azimuth angle and turn rate
    """
    z = np.empty((3,1))
    dx = x[0] - loc_radar[0]
    dy = x[2] - loc_radar[1]
    z[0] = math.sqrt(dx ** 2 + dy ** 2)
    z[1] = np.arctan2(dy, dx)
    z[2] = (dx * x[1] + dy * x[3]) / z[0]
    return z

def generate_measurement(x_true):
    gz = h(x_true)
    z = gz + z_noise @ np.random.randn(3, 1)
    return z
        
            </code></pre>

        <p style="text-align: right;">Page 5</p>
        <hr class="full-width">
    </section>





    <section class="left-align">

        <h2>Python Code: CKF</h2>


        <ul>



            <li>

            </li>

        </ul>

        <pre><code class="python">
def moments2points(mu, P):
    """
    Spherical-Radial Transform using Cubature Rule
    Generate 2n Cubature Points to represent the nonlinear model
    Assign Weights to each Cubature Point, Wi = 1/2n
    """

    n_dim = len(mu)
    weights = np.ones(2 * n_dim) / (2*n_dim)
    sigma = linalg.cholesky(P,lower=True)
    points = np.tile(mu, (1, 2 * n_dim))
    points[:, 0:n_dim] += sigma * np.sqrt(n_dim)
    points[:, n_dim:] -= sigma * np.sqrt(n_dim)
    return points, weights


def cubature_prediction(x_pred, p_pred):
    n = np.shape(x_pred)[0]
    [CP, W] = moments2points(x_pred, p_pred)
    x_pred = np.zeros((n, 1))
    p_pred = Q
    for i in range(2*n):
        x_pred = x_pred + (f(CP[:, i]).reshape((n, 1)) * W[i])
    for i in range(2*n):
        p_step = (f(CP[:, i]).reshape((n, 1)) - x_pred)
        p_pred = p_pred + (p_step @ p_step.T * W[i])
    return x_pred, p_pred


def cubature_update(x_pred, p_pred, z):
    n = np.shape(x_pred)[0]
    m = np.shape(z)[0]
    [CP, W] = moments2points(x_pred, p_pred)
    z_pred = np.zeros((m, 1))
    P_xy = np.zeros((n, m))
    P_zz = R
    for i in range(2*n):
        z_pred = z_pred + (h(CP[:, i]).reshape((m, 1)) * W[i])
    for i in range(2*n):
        p_step = (h(CP[:, i]).reshape((m, 1)) - z_pred)
        P_xy = P_xy + ((CP[:, i]).reshape((n, 1)) -
                        x_pred) @ p_step.T * W[i]
        P_zz = P_zz + p_step @ p_step.T * W[i]
    x_upd = x_pred + P_xy @ np.linalg.pinv(P_zz) @ (z - z_pred)
    p_upd = p_pred - P_xy @ np.linalg.pinv(P_zz) @ P_xy.T
    return x_upd, p_upd

def cubature_kalman_filter(x_est, p_est, z):
    x_pred, p_pred = cubature_prediction(x_est, p_est)
    x_upd, p_upd = cubature_update(x_pred, p_pred, z)
    return x_upd, p_upd

            </code></pre>

        <p style="text-align: right;">Page 6</p>
        <hr class="full-width">
    </section>




    <section class="left-align">

        <h2>Python Code: Utility Functions</h2>


        <ul>



            <li>

            </li>

        </ul>

        <pre><code class="python">
def plot_animation(i, x_true_cat, x_est_cat):
    if i == 0:
        pass
        # plt.plot(x_true_cat[0], x_true_cat[1], '.r')
        # plt.plot(x_est_cat[0], x_est_cat[1], '.b')
    else:
        plt.plot(x_true_cat[1:, 0], x_true_cat[1:, 1], 'r--', label='True')
        plt.plot(x_est_cat[1:, 0], x_est_cat[1:, 1], 'b', label='CKF')
    plt.pause(0.001)


def plot_ellipse(x_est, p_est):
    phi = np.linspace(0, 2 * math.pi, N)
    p_ellipse = np.array(
        [[p_est[0, 0], p_est[0, 1]], [p_est[1, 0], p_est[1, 1]]])
    x0 = 2 * linalg.sqrtm(p_ellipse)
    xy_1 = np.array([])
    xy_2 = np.array([])
    for i in range(N):
        arr = np.array([[math.sin(phi[i])], [math.cos(phi[i])]])
        arr = x0 @ arr
        xy_1 = np.hstack([xy_1, arr[0]])
        xy_2 = np.hstack([xy_2, arr[1]])
    plt.plot(xy_1 + x_est[0], xy_2 + x_est[1], 'r', linewidth=0.5)
    plt.grid(True)
    plt.pause(0.00001)


def plot_final(x_true_cat, x_est_cat, conf_est_cat):
    fig1, ax = plt.subplots()
    ax.plot(x_true_cat[0:, 0], x_true_cat[0:, 1],
                    'r--', label='True Position')
    ax.plot(x_est_cat[0:, 0], x_est_cat[0:, 1],
                    'b', label='Estimated Position')
    ax.plot(loc_radar[0], loc_radar[1], marker='D', color='red', markersize=5, linestyle='None', label='Radar')
    ax.plot(x_true_cat[0,0], x_true_cat[0,1], marker='*', color='red', markersize=5, linestyle='None', label='Start')
    ax.set_xlabel('x [m]')
    ax.set_ylabel('y [m]')
    ax.set_title('Cubature Kalman Filter - CTRV Model')
    ax.legend(loc='best', shadow=True, fontsize='small')
    # ax.set_xlim([0,12])
    # ax.set_ylim([0,25])
    plt.grid(True)


    fig2, ax = plt.subplots(2,1)
    t_arr = dt * np.arange(N)
    x_err = x_true_cat[0:, 0] - x_est_cat[0:, 0]
    y_err = x_true_cat[0:, 1] - x_est_cat[0:, 1]

    ax[0].plot(t_arr, x_err, 'b-', linewidth=1)
    ax[0].plot(t_arr, conf_est_cat[0:,0], 'r--', linewidth=1)
    ax[0].plot(t_arr, -1 * conf_est_cat[0:,0], 'r--', linewidth=1)
    ax[0].grid(True)
    #ax[0].set_ylim([-1,1])
    ax[0].set_xlim([0, int(N*dt)])
    ax[0].set_ylabel('Error in x pos [m]')
    ax[0].set_title(r'Error with 2$\sigma$ bound')

    ax[1].plot(t_arr, y_err, 'b-', linewidth=1)
    ax[1].plot(t_arr, conf_est_cat[0:,1], 'r--', linewidth=1)
    ax[1].plot(t_arr, -1 * conf_est_cat[0:,1], 'r--', linewidth=1)
    
    ax[1].grid(True)
    #ax[1].set_ylim([-1,1])
    ax[1].set_xlim([0, int(N*dt)])
    ax[1].set_ylabel('Error in y pos [m]')
    ax[1].set_xlabel('Time [s]')

    plt.show()


        </code></pre>

        <p style="text-align: right;">Page 7</p>
        <hr class="full-width">
    </section>






    <section class="left-align">

        <h2>Python Code: Main Entry</h2>


        <ul>



            <li>

            </li>

        </ul>

        <pre><code class="python">
def main():
    print(__file__ + " start!!")
    x_est = x_0
    p_est = p_0
    x_true = x_0
    x_true_cat = np.empty((2,))
    x_est_cat = np.empty((2,))
    conf_est_cat = np.empty((2,))
    for i in range(N):
        x_true = f(x_true)
        z = generate_measurement(x_true)
        x_est, p_est = cubature_kalman_filter(x_est, p_est, z)
        
        x_true_cat = np.vstack((x_true_cat, x_true[0:3:2].T))
        x_est_cat = np.vstack((x_est_cat, x_est[0:3:2].T))
        sigma_err_bound = np.array([2 * math.sqrt(p_est[0,0]), 2 * math.sqrt(p_est[2,2])])
        conf_est_cat = np.vstack((conf_est_cat, sigma_err_bound))

        
        if i == (N - 1) and show_final == 1:
            show_final_flag = 1
        else:
            show_final_flag = 0
        if show_animation == 1:
            plot_animation(i, x_true_cat, x_est_cat)
        if show_ellipse == 1:
            plot_ellipse(x_est[0:2], p_est)


        if show_final_flag == 1:
            x_true_cat = x_true_cat[1:,]
            x_est_cat = x_est_cat[1:,]
            conf_est_cat = conf_est_cat[1:,]
            plot_final(x_true_cat, x_est_cat, conf_est_cat)

    print('CKF Done!!')


if __name__ == '__main__':
    main()    
            </code></pre>

        <p style="text-align: right;">Page 8</p>
        <hr class="full-width">
    </section>



    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</article>

{% endblock %}