{% extends "base.html" %}

{% block content %}

<article class="main">
    <header class="title">



        <a class="nav-button" href="{{ url_for('ckf') }}" >>></a>
        <a class="nav-button" href="{{ url_for('estimation') }}" ><<</a>
        <br><br>

       <h1>Kalman Filtering</h1>

    </header>


    <!--        <div class="reveal">-->
    <!--        <div class="slides">-->

    <!-- Slide 1 -->
    <section class="left-align">

        <h2>Intro to Bayesian Filtering</h2>
        <p>
            <img src="{{ url_for('static', filename='images/dssm.png') }}"
                style="width: 60%; height: auto; display: block; margin: 0 auto;">
        </p>

        <ul>
            <li>State-space model in discrete time:
                \[
                \begin{align}
                \text{Process equation: } \mathbf{x}_{k} &= \mathbf{f}(\mathbf{x}_{k-1}, \mathbf{u}_{k-1}) +
                \text{Process noise}
                \\
                \text{Measurement equation: } \mathbf{z}_{k} &= \mathbf{h}(\mathbf{x}_{k}, \mathbf{u}_{k}) +
                \text{Measurement noise}
                \end{align}
                \]
                where \(\mathbf{x}_{k}\) is the state vector at time k, \(\mathbf{u}_{k}\) is the control input at time
                k,
                and \(\mathbf{z}_{k}\) is the measurement taken at time k</li>
            <li>Key Question: How do we recursively compute the posterior density of the state \(\mathbf{x}_{k}\),
                given the noiisy measuorements upto time \(k\),
                \(\mathbf{z}_{1:k}=\{\mathbf{z}_{1},\mathbf{z}_{2},...\mathbf{z}_{k} \}\)? </li>

        </ul>
        <p style="text-align: right;">Page 1</p>
        <hr class="full-width">
    </section>

    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>

            <li>Time Update:
                \[
                p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1}) =
                \int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \]


            </li>
            <li>Measurement Update:
                \[
                p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1}) =
                \int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \]
                where the normalizing constant
                \[
                \begin{align}
                c_{k} &=p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})\\
                &=\int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \end{align}
                \]
                and \(n_{x}\) is the state vector dimension.
            </li>
        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Approximate Solutions</h2>
        <ul>
            <li>Problem statement: Develop an approximate Bayesian filter that is theoretically
                motivated, reasonably accurate and easily extendable at a minimal cost.
            </li>
            <li>
                Two Approaches:
                <ul>
                    <li>
                        Innovations based algorithms:
                        <ul>
                            <li> Extended Kalman Filter (EKF) </li>
                            <li> Unscented Kalman Filter (UKF)</li>
                            <li> Central Difference Kalman Filter (CDCK)</li>
                            <li> Gauss-Hermite Quadrature Kalman Filter </li>
                        </ul>
                    </li>
                    <li>
                        Moment Closing algorihms:
                        <ul>
                            <li>Kushner's nonlinear filter</li>
                            <li> Grid filters</li>
                            <li> Particle Filters</li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>
            <li></li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>



    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>
            <li></li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>
            <li></li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>
            <li></li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>

    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>
            <li></li>

        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>

    <!-- Slide 3 -->
    <!--            <section>-->
    <!--                <h2>Slide Title 3</h2>-->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <pre><code class="language-python">
# This is a Python function
def greet(name):
    import pandas as pd
    x = 2
    return f"Hello, {name}!"

print(greet("World"))
    </code></pre>
        <!--</section>-->

        <p style="text-align: right;">Page 3</p>
    </section>












    <!-- Add more slides as needed -->
    </div>
    </div>

    <!--    <script src="reveal.js/dist/reveal.js"></script>-->
    <!--    <script src="{{url_for('static', filename='css/reveal.js')}}" type="text/javascript"></script>-->


    <!--    <script>-->
    <!--        Reveal.initialize();-->
    <!--    </script>-->


    <!--    <h1>Normal HTML Heading</h1>-->

    <!--    <md-block>-->

    <!--        <p>-->
    <!--                <img src="{{ url_for('static', filename='images/animation.gif') }}"-->
    <!--                 style="width: 80%; height: auto; display: block; margin: 0 auto;">-->


    <!--            <img src="{{ url_for('static', filename='images/radar.jpg') }}"-->
    <!--                 style="width: 40%; height: auto; display: block; margin: 0 auto;">-->
    <!--        </p>-->


    <!-- Add more slides as needed -->


    <!--        # Markdown Heading-->
    <!--        **Something in BOLD**-->
    <!--        ~~strikthrough~~-->

    <!--        <h1>Markdown with MathJax Example</h1>-->
    <!--        When you want to make text bold in a mathematical context, you can use the \(\mathbf{\text{mathbf}}\) command.-->
    <!--        For example, \(\mathbf{X}\) represents a bold symbol for a variable.-->
    <!--        Inline math: \(\mathbf{Y} = m \mathbf{X} + b\)-->
    <!--        \(\mathbf{C}(t)\)-->
    <!--        <br/><br/>-->
    <!--        Block math:-->
    <!--        $$-->
    <!--        \mathbf{Z} = \begin{bmatrix}-->
    <!--        a & b \\-->
    <!--        c & d-->
    <!--        \end{bmatrix}-->
    <!--        $$-->


    ---
    <!--layout: page-->
    <!--title: Kalman filter-->
    <!--permalink: /linear-kalman-filter/-->
    <!-- -&#45;&#45;-->

    <!--        <h1>Markdown with MathJax Example</h1>-->
    <!--        When you want to make text bold in a mathematical context, you can use the \(\mathbf{\text{mathbf}}\) command.-->
    <!--        For example, \(\mathbf{X}\) represents a bold symbol for a variable.-->
    <!--        Inline math: \(\mathbf{Y} = m \mathbf{X} + b\)-->

    The Kalman filter is a recursive method to estimate the state of a linear system with additive process noise.
    The state variables are observable only by a linear measurement equation with an additive measurement noise.
    The popularity and flexibility of the Kalman filter are due to the fact that it is the filter with the optimal
    minimum-mean-squared error (MMSE).

    Subsequently, the notation and syntax on kalman-filter.com is presented below.
    Although the Kalman filter is a discrete filter, the notation for a continuous-time system will be presented
    first.

    <h1>Continuous-time state-space</h1>
    The representation of a linear stochastic system is given by
    \[
    \dot{\mathbf{x}}(t) = \mathbf{A}(t) \mathbf{x}(t) + \mathbf{B}(t) \mathbf{u}(t) + \mathbf{G}(t) \mathbf{z}(t)
    \]
    where \(t\) represents the time, \(\mathbf{x}(t)\) is the state vector, \(\mathbf{u}(t)\) is the control input,
    \(\mathbf{z}(t)\) is the input or process noise with
    known covariance matrix \(\mathbf{Q}(t), \mathbf{A}(t)\) the system matrix, \(\mathbf{B}(t) \) input matrix
    and \(\mathbf{G}(t) \) process noise matrix.
    The output of such a system, in general, can be written as follows
    $$
    \mathbf{y}(t) = \mathbf{C}(t) \mathbf{x}(t) + \mathbf{v}(t)
    $$
    where \(\mathbf{C}(t)\) is the measurement matrix that projects the state-space in the measurement-space and
    \(\mathbf{v}(t)\) adds additive noise with known covariance matrix \(\mathbf{R}(t) \).

    <h1>Discrete-time state-space</h1>
    For the use and application of the Kalman filter within a computer, the continous-time system needs to be
    discretized(<a
        href="https://kalman-filter.com/discretization-of-linear-state-space-model/">https://kalman-filter.com/discretization-of-linear-state-space-model/</a>).
    For this purpose, this page uses the following notation
    \[
    \begin{align}
    \mathbf{x}(k) &= \mathbf{A}_d(k-1) \mathbf{x}(k-1) + \mathbf{B}_d(k-1) \mathbf{u}(k-1) + \mathbf{G}_d(k-1)
    \mathbf{z}(k-1)\\
    \mathbf{y}(k) &= \mathbf{C}(k) \mathbf{x}(k) + \mathbf{v}(k)
    \end{align}
    \]


    With this introduction of the notation, the Kalman filter equations can be hereafter presented.
    <h1>Kalman filter</h1>
    The equations of the Kalman filter consist of five major steps:
    <h4>State prediction</h4>

    $$ \mathbf{x}(k|k-1) = \mathbf{A}_d(k-1) \mathbf{x}(k-1) + \mathbf{B}_d(k-1) \mathbf{u}(k-1) $$


    <h4>State prediction covariance</h4>

    $$ \mathbf{P}(k|k-1) = \mathbf{A}_d(k-1) \mathbf{P}(k-1) \mathbf{A}_d(k-1)^{T} + \mathbf{Q}_d(k-1) $$


    <h4>Filter gain</h4>

    $$ \mathbf{K}(k) = \mathbf{P}(k|k-1) \mathbf{C}(k)^{T} (\mathbf{C}(k) \mathbf{P}(k|k-1) \mathbf{C}(k)^{T} +
    \mathbf{R})^{-1} $$


    <h4>Update state estimate</h4>

    $$ \mathbf{x}(k) = \mathbf{x}(k|k-1) + \mathbf{K}(k) (\mathbf{y}(k) - \mathbf{C}(k) \mathbf{x}(k|k-1) ) $$

    <h4>Update state covariance</h4>

    $$ \mathbf{P}(k) = \bigl(\mathbf{I} - \mathbf{K}(k) \mathbf{C}(k) \bigl) \mathbf{P}(k) \bigl(\mathbf{I} -
    \mathbf{K}(k) \mathbf{C}(k) \bigl)^T + \mathbf{K}(k) \mathbf{R}(k) \mathbf{K}(k)^T $$


    <h1>Further reading</h1>
    The Kalman filter is named after the publication of Rudolf Emil Kalman who presented his approach in 1960 in the
    paper "A New Approach to Linear Filtering and Prediction Problems” [1]. However, the idea was described by other
    authors several years earlier. Nevertheless, the spread of the concept is attributed to Kalman.

    The original derivation of the Kalman filter was via the orthogonality principle. Later, other authors derived
    the filter in the Bayesian reference frame [2]. The Bayesian derivation is since then the most common because it
    is more accessible from a didactic perspective.

    Unfortunately, the use of the Bayesian derivation leads to the Kalman filter being associated with a Gaussian
    assumption in both process and measurement noise. However, the Kalman filter is MMSE-optimal without any
    assumption of Gaussanity [3].

    <h3>References</h3>

    <ol>
        <li> Kalman, R. E. (1960). A New Approach to Linear Filtering and Prediction
            Problems,
            Journal of Basic Engineering. 82: 35–45.
            <a
                href="http://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf">http://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf</a>
        </li>
        <li>
            Y. Ho and R. Lee (1964). "A Bayesian approach to problems in stochastic estimation and control". IEEE
            Transactions on Automatic Control, vol. 9, no. 4, pp. 333-339.
        </li>
        <li>
            Uhlmann, Jeffrey & Julier, Simon. (2022). Gaussianity and the Kalman Filter: A Simple Yet Complicated
            Relationship. Journal de Ciencia e Ingeniería. 14. 21-26. 10.46571/JCI.2022.1.2
        </li>
    </ol>

    <!--        [I'm an inline-style link](https://www.google.com)-->

    <!--        [I'm a reference-style link][Arbitrary case-insensitive reference text]-->

    <!--        [You can use numbers for reference-style link definitions][1]-->

    <!--        Or leave it empty and use the [link text itself]-->

    <!--        URLs and URLs in angle brackets will automatically get turned into links.-->
    <!--        http://www.example.com or [xx]</http://www.example.com> and sometimes-->
    <!--        example.com (but not on Github, for example).-->

    <!--        Some text to show that the reference links can follow later.-->
    <!--        [arbitrary case-insensitive reference text]: https://www.mozilla.org-->
    <!--        [1]: http://slashdot.org-->
    <!--        [link text itself]: http://www.reddit.com-->


    <!--    </md-block>-->

    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</article>

{% endblock %}