{% extends "base.html" %}

{% block content %}

<article class="main">
    <header class="title">



        <a class="nav-button" href="{{ url_for('ckf') }}" >>></a>
        <a class="nav-button" href="{{ url_for('estimation') }}" ><<</a>
        <br><br>

       <h1>Kalman Filtering</h1>

    </header>


    <!--        <div class="reveal">-->
    <!--        <div class="slides">-->

    <!-- Slide 1 -->
    <section class="left-align">

        <h2>Intro to Bayesian Filtering</h2>
        <p>
            <img src="{{ url_for('static', filename='images/dssm.png') }}"
                style="width: 60%; height: auto; display: block; margin: 0 auto;">
        </p>

        <ul>
            <li>State-space model in discrete time:
                \[
                \begin{align}
                \text{Process equation: } \mathbf{x}_{k} &= \mathbf{f}(\mathbf{x}_{k-1}, \mathbf{u}_{k-1}) +
                \text{Process noise}
                \\
                \text{Measurement equation: } \mathbf{z}_{k} &= \mathbf{h}(\mathbf{x}_{k}, \mathbf{u}_{k}) +
                \text{Measurement noise}
                \end{align}
                \]
                where \(\mathbf{x}_{k}\) is the state vector at time k, \(\mathbf{u}_{k}\) is the control input at time
                k,
                and \(\mathbf{z}_{k}\) is the measurement taken at time k</li>
            <li>Key Question: How do we recursively compute the posterior density of the state \(\mathbf{x}_{k}\),
                given the noiisy measuorements upto time \(k\),
                \(\mathbf{z}_{1:k}=\{\mathbf{z}_{1},\mathbf{z}_{2},...\mathbf{z}_{k} \}\)? </li>

        </ul>
        <p style="text-align: right;">Page 1</p>
        <hr class="full-width">
    </section>

    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Conceptual Recursive Solution</h2>
        <ul>

            <li>Time Update:
                \[
                p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1}) =
                \int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \]


            </li>
            <li>Measurement Update:
                \[
                p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1}) =
                \int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \]
                where the normalizing constant
                \[
                \begin{align}
                c_{k} &=p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})\\
                &=\int_{R^{n_{x}}}p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})p(\mathbf{x}_{k}|\mathbf{z}_{1:k-1})d\mathbf{x}_{k-1}
                \end{align}
                \]
                and \(n_{x}\) is the state vector dimension.
            </li>
        </ul>
        <p style="text-align: right;">Page 2</p>
        <hr class="full-width">
    </section>


    <!-- Slide 2 -->
    <section class="left-align">
        <h2>Approximate Solutions</h2>
        <ul>

            <li>
                Two Approaches:
                <ul>
                    <li>
                        Innovations based algorithms:
                        <ul>
                            <li> Extended Kalman Filter (EKF) </li>
                            <li> Unscented Kalman Filter (UKF)</li>
                            <li> Central Difference Kalman Filter (CDCK)</li>
                            <li> Gauss-Hermite Quadrature Kalman Filter </li>
                        </ul>
                    </li>
                    <li>
                        Moment Closing algorihms:
                        <ul>
                            <li>Kushner's nonlinear filter</li>
                            <li> Grid filters</li>
                            <li> Particle Filters</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Problem statement: Develop an approximate Bayesian filter that is theoretically
                motivated, reasonably accurate and easily extendable at a minimal cost.
            </li>
            <li>In the next section, to address the issues, we will introduce a new Bayesian nonlinear filter called Cubature Kalman
            Filter (CKF).</li>

        </ul>
        <p style="text-align: right;">Page 3</p>
        <hr class="full-width">
    </section>


    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

</article>

{% endblock %}