{% extends "base.html" %}

{% block content %}

<header class="title">
    <nav class="page-nav">
        <a class="nav-button" href="{{ url_for('application_2') }}">&laquo; Prev</a>
        <a class="nav-button" href="{{ url_for('estimation') }}">Next &raquo;</a>
    </nav>
    <h1>Suggested Reading</h1>
</header>

<h3>Textbooks</h3>
<ol>
    <li>
        Yaakov Bar-Shalom, X.-Rong Li, Thiagalingam Kirubarajan (2001).
        Estimation with Applications to Tracking and Navigation: Theory, Algorithms and Software.
        John Wiley &amp; Sons.
    </li>
</ol>

<h3>Journals</h3>
<ol>
    <li>
        Kalman, R. E. (1960). A New Approach to Linear Filtering and Prediction Problems,
        Journal of Basic Engineering. 82: 35&ndash;45.
        <a href="http://www.cs.unc.edu/~welch/kalman/media/pdf/Kalman1960.pdf"
           target="_blank" rel="noopener">[PDF]</a>
    </li>
    <li>
        Y. Ho and R. Lee (1964). "A Bayesian approach to problems in stochastic estimation and control".
        IEEE Transactions on Automatic Control, vol. 9, no. 4, pp. 333&ndash;339.
    </li>
    <li>
        Uhlmann, Jeffrey &amp; Julier, Simon (2002). Gaussianity and the Kalman Filter:
        A Simple Yet Complicated Relationship. Journal de Ciencia e Ingenier&iacute;a. 14, pp. 21&ndash;26.
    </li>
    <li>
        I. Arasaratnam and S. Haykin (2009). Cubature Kalman Filters,
        IEEE Trans. on Automatic Control, vol. 54, no. 6, pp. 1254&ndash;1269.
    </li>
</ol>

{% endblock %}
