
{% extends "base.html" %}

{% block content %}
<article>
    <header class="title">
        <h1 style="color: #b40203">Python For Electrical Engineers<br> (Under Construction)</h1>
        <hr style="margin-top:-1em">
        <h3 style="margin-top:-2.3em">
        </h3>
    </header>

    <div class="archive" style="margin-top:-30px">
        <h2 class="archive-title">Ch 1: Introduction</h2>
        <p style="text-indent: -55px; margin-left: 18px">
            <span style="position:absolute; margin-left:0px;"></span><br>
            <!--      <a href="estimation/speed_up" style="position:relative; margin-left: 55px;">Speed up python code</a>-->
            <a  style="position:relative; margin-left: 15px;">1.1. Intro to Python</a>
        </p>
    </div>

    <div class="archive" style="margin-top:-30px">
        <h2 class="archive-title">Ch 2: Core Libraries</h2>
        <p style="text-indent: -55px; margin-left: 18px">
            <span style="position:absolute; margin-left:0px;"></span><br>
            <!--      <a href="estimation/speed_up" style="position:relative; margin-left: 55px;">Speed up python code</a>-->
            <a style="position:relative; margin-left: 15px;"> 2.1. NumPy</a><br>
            <a style="position:relative; margin-left: 15px;"> 2.2. Pandas</a><br>
            <a style="position:relative; margin-left: 15px;"> 2.3. Matplotlib</a><br>
            <a style="position:relative; margin-left: 15px;"> 2.4. Pandas</a><br>
            <a style="position:relative; margin-left: 15px;"> 2.5. Misc</a><br>
        </p>

    </div>

    <div class="archive" style="margin-top:-30px">
        <h2 class="archive-title">Ch 3: Applications </h2>
        <p style="text-indent: -55px; margin-left: 18px">
            <span style="position:absolute; margin-left:0px;"></span><br>
            <!--      <a href="estimation/speed_up" style="position:relative; margin-left: 55px;">Speed up python code</a>-->
            <a style="position:relative; margin-left: 15px;"> 3.1. Signal Processing</a><br>
            <a style="position:relative; margin-left: 15px;"> 3.2. Control Systems</a><br>
                        <a style="position:relative; margin-left: 15px;"> 3.3. Circuit Analysis</a><br>
                        <a style="position:relative; margin-left: 15px;"> 3.4. Electro-Magnetics</a><br>
                        <a style="position:relative; margin-left: 15px;"> 3.5. Misc</a><br>
        </p>
    </div>

    <div class="archive" style="margin-top:-30px">
        <h2 class="archive-title">Ch 4: Advanced Topics</h2>
        <p style="text-indent: -55px; margin-left: 18px">
            <span style="position:absolute; margin-left:0px;"></span><br>
            <!--      <a href="estimation/speed_up" style="position:relative; margin-left: 55px;">Speed up python code</a>-->
            <a style="position:relative; margin-left: 15px;"> 4.1. Machine Learning</a><br>
            <a style="position:relative; margin-left: 15px;"> 4.2. Emebedded Systems and Hardware Integration</a><br>
            <a style="position:relative; margin-left: 15px;"> 4.1. Power Systesm and Energy Analysis</a><br>

        </p>
    </div>

        <div class="archive" style="margin-top:-30px">
        <h2 class="archive-title">Ch 5: Resources</h2>
        <p style="text-indent: -55px; margin-left: 18px">
            <span style="position:absolute; margin-left:0px;"></span><br>
            <!--      <a href="estimation/speed_up" style="position:relative; margin-left: 55px;">Speed up python code</a>-->
            <a style="position:relative; margin-left: 15px;"> 5.1. Practical Applications</a><br>
            <a style="position:relative; margin-left: 15px;"> 5.2. EE Formulas in Python</a><br>
            <a style="position:relative; margin-left: 15px;"> 5.3. Cheat Sheet</a><br>
            <a style="position:relative; margin-left: 15px;"> 5.4. References</a>

        </p>
    </div>

</article>

{% endblock %}
