{% extends "base.html" %}

{% block content %}
<article>
    <header class="title">
        <h1 style="color: #b40203">Bayesian Estimation</h1>
        <hr style="margin-top:-1em">
        <h3 style="margin-top:-2.3em">
        </h3>

        <style>
    ul
{
list-style: none;
}
</style>
    </header>

    <p>
        This section covers Bayesian signal processing, with a particular focus on cubature Kalman filters. The content is
        primarily derived from my PhD thesis. Each subsection below is clickable and presented in a slide format, allowing
        users to quickly read, review, and grasp the key concepts to master this powerful tool.

    </p>

    <br>

<ul>
  <li><strong>1. Introduction to Bayesian Filtering</strong>
    <ul>
      <li>1.1 <a href="{{url_for('kf')}}" style="position:relative; margin-left: 55px;">Overview of Bayesian Filtering</a> </li>
    </ul>
  </li>

<li><strong>2. Nonlinear Kalman Filtering</strong>
    <ul>
        <li>2.1 <a href="{{url_for('ckf')}}" style="position:relative; margin-left: 55px;"> Cubature Kalman Filters</a></li>
    </ul>
</li>


    <li><strong>3. Variants</strong>
    <ul>
        <li>3.1 <a href="{{url_for('sckf')}}" style="position:relative; margin-left: 55px;"> Square-Root Cubature Kalman
                Filters</a></li>
    </ul>
</li>

    <li><strong>4. Applications</strong>
    <ul>
        <li>4.1 <a href="{{url_for('application_1')}}" style="position:relative; margin-left: 55px;"> Radar Tracking
                (Accompanied by Python Code)</a></li>
        <li>4.2 <a href="{{url_for('application_2')}}" style="position:relative; margin-left: 55px;"> Mobile Robot
                Navigation</a></li>
    </ul>
</li>

    <li><strong>5. Suggested Readings</strong>
    <ul>
        <li>5.1 <a href="{{url_for('reference')}}" style="position:relative; margin-left: 55px;"> References</a></li>
    </ul>
</li>


</ul>

</article>
{% endblock %}