{% extends "base.html" %}

{% block header %}
{{ super() }}
<script src="{{url_for('static', filename='js/quotes.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}


<header class="title">
    <h1 style="color: #b40203"> Research Portfolio </h1>
</header>
<div class="divider"></div>

<div class="container" style="height: 800px">

    <div class="box" style="height: 680px" ;>

        <div class="img-container">
            <img src="{{ url_for('static', filename='images/radar.jpg') }}">
        </div>
        <div class="text-container">
            <!--            <h2> Cubature Kalman Filters (CKF) </h2>-->
            <p>
            <blockquote id="quote"></blockquote>

            <script>
                <!-- JS code to set the random quote-->
                var quote = getRandomQuote();
                document.getElementById("quote").innerHTML = quote


            </script>

            Finding a solution to nonlinear Bayesian state-estimation problems is intractable and has engaged many
            researchers
            since Kalman’s seminal paper was published in 1960. The selection of suitable sub-optimal approximate
            solutions to the recursive Bayesian estimation problem represents a trade-off between global optimality on
            one hand and computational tractability (and robustness) on the other
            hand.
            </p>
            <p>During my PhD research, I developed a new Bayesian filter called the Cubature Kalman Filter (CKF) that
                solves discrete-time non-linear filtering problems efficiently. When the conditional probability
                densities are assumed to be
                Gaussian, which holds in many cases, the optimal Bayesian filter can be reduced to the problem of
                computing multi-dimensional
                Gaussian-weighted moment integrals in the time update and measurement update steps. To compute these
                integrals
                numerically, two transformations are required: (i) Non-standard Gaussian-weighted
                integrals are transformed into standard Gaussian-weighted integrals using the change of variables. (ii)
                These integrals are then transformed from Cartesian coordinates to spherical-radial coordinates. A
                third-degree spherical-radial cubature rule is used to compute them numerically. The resulting cubature
                rule uses a set of
                2n
                cubature points, where n is the state-vector dimension.
            </p>

            <p>
                The CKF is a predictor-corrector model-based estimation strategy that
                extracts second-order information from sensor measurements optimally and recursively. It is the closest
                known approximate
                filter that preserves second-order information according to the
                maximum entropy principle. As per <a
                    href="https://scholar.google.com/citations?user=odep9f8AAAAJ&hl=en"> Google
                    Scholar</a>, my research paper on the CKF has received
                over 3000 citations. A detailed derivation of this method can be found in my PhD thesis below.
            </p>

            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/phd_thesis.pdf')}}"><img
                            src="{{url_for('static', filename='images/icon_pdf.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>

            <!--            <p>-->
            <!--                As the CKF is restricted to solving state estimation problems in nonlinear systems with additive-->
            <!--                Gaussian noise, I further expanded its application to different scenarios, which are outlined below:-->

            <!--            </p>-->
        </div>
    </div>
    <!--    <div class="divider"></div>-->

</div>


<header class="title">
    <h2 style="color: #b40203"> Four Variants of Cubature Kalman Filter </h2>
</header>
<div class="divider"></div>

<div class="container" style="height: 1200px">


    <div class="box">
        <div class="img-container">
            <img src="{{ url_for('static', filename='images/radar.jpg') }}">
        </div>
        <div class="text-container">
            <h2>i. Continuous-Discrete CKF (CD-CKF) </h2>
            <p>
                To handle nonlinear state-space models of
                the continuous-discrete kind, the extended version of the CKF called the Continuous-Discrete Cubature
                Kalman Filter (CD-CKF) can be used.
                The process equation, modeled as stochastic ordinary differential equations, is transformed into a
                set of stochastic difference equations using the Itô-Taylor expansion of order 1.5.
                The third-degree cubature rule is used to numerically compute integrals.
                The usefulness of the CD-CKF is illustrated by applying it to a radar tracking problem here.

            </p>

            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/PDF_SCKF_RobotArm.pdf')}}"><img
                            src="{{url_for('static', filename='images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_file_SCKF_RobotArm.zip')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--    <div class="divider"></div>-->


    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>ii. Square-root CKF (SCKF) </h2>
            <p>
                The CKF can encounter numerical problems, including the loss of positive
                definiteness in covariance matrices due to operations such as matrix inversion and subtraction.
                This loss of positive definiteness can prevent the CKF from being run continuously. The Square-root CKF
                (SCKF) resolves these issues
                by propagating the square-roots of various error covariance matrices.
                The usefulness of the SCKF is illustrated by applying it to a robotic problem implemented in a finite
                word-length machine here.
            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/j_cdckf.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_File_CDCKF.zip')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--    <div class="divider"></div>-->


    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>iii. Cubature Kalman Smoother (CKS) </h2>
            <p>
                The cubature Kalman smoother (CKS) addresses nonlinear smoothing problems.
                The CKS is derived by reformulating matrix equations to propagate the square-root error covariances,
                which ensures reliable
                implementation in embedded systems with fixed precision or when the inference problem is
                ill-conditioned.
                The usefulness of the CKS is illustrated by applying it to track a ballistic target on reentry here.

            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="docs/j_cks.pdf"><img src="{{url_for('static', filename= 'images/icon_pdf.png')}}"
                            alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_File_CKS.zip')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--    <div class="divider"></div>-->


    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>iv. Cubature Information Filter (CIF) </h2>
            <p>

                The Cubature Information Filter (CIF) is a modified version of the CKF that replaces state estimates and
                covariances with information
                vectors and matrices. The CIF is derived using linear fusion theory and advanced matrix algebra.
                The usefulness of the CIF is illustrated in a multi-sensor fusion setting here.
            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/J_ICA_CIF.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_file_SCIF.7z')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>


</div>


<header class="title">
    <h2 style="color: #b40203"> Two sample applications of CKF </h2>
</header>
<!--<div class="divider"></div>-->
<div class="container" style="height: 500px" ;>

    <div class="box">

        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>Radar Tracking</h2>
            <p>
                The interacting multiple model (IMM) filter and
                square-root version of CKF
                are used in this work to estimate the states of a maneuvering aircraft using radar measurements.

            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/PDF_CKF_IMM.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_File_CKF_IMM.zip')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>


    </div>


    <!--    <div class="divider"></div>-->

    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/rnn.png')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>Training of Recurrent Neural Networks (RNNs)</h2>
            <p>
                The CKF is used in this work to train recurrent neural networks (RNNs).
                Techniques for tuning the CKF are suggested to improve numerical stability and performance during the
                training period.
                Specifically, the usefulness of training RNNs using the CKF is illustrated by applying it to reconstruct
                the chaotic Mackey-Glass time-series that is sensitive to initial conditions.

            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/PDF_SCKF_NN.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/M_File_SCKF_NN.zip')}}"><img
                            src="{{url_for('static', filename= 'images/icon_code.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--        <div class="divider"></div>-->


</div>


<header class="title">
    <h2 style="color:#b40203"> Miscellaneous</h2>
</header>
<div class="divider"></div>

<div class="container" style="height: 800px">

    <!--    <div class="box">-->
    <!--        <div class="img-container">-->
    <!--            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">-->
    <!--        </div>-->
    <!--        <div class="text-container">-->
    <!--            <h2>PhD Thesis </h2>-->

    <!--            <p>-->
    <!--            <h4><em>Title: Cubature Kalman Filters</em></h4>-->

    <!--            This PhD work provides a detailed derivation of the CKF.-->
    <!--            A stable square-root reformulation of the CKF is also derived.-->
    <!--            The applicability of the CKF is demonstrated by applying it in target tracking and signal processing-->
    <!--            applications.-->

    <!--            </p>-->
    <!--            <p>-->
    <!--            <div class="icon-row">-->

    <!--                <div class="icon-row">-->
    <!--                    <a href="{{url_for('static', filename= 'docs/phd_thesis.pdf')}}"><img-->
    <!--                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>-->
    <!--                    <a href="{{url_for('static', filename= 'docs/phd_slides.pdf')}}"><img-->
    <!--                            src="{{url_for('static', filename= 'images/icon_ppt.png')}}" alt="Image description"></a>-->
    <!--                </div>-->

    <!--            </div>-->
    <!--            </p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="divider"></div>-->

    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/phd_oral.jpeg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>PhD Candidacy Exam </h2>
            <p>

                My PhD candidacy exam included three questions at the
                graduate level and four questions at the undergraduate level.
                This was a take-home exam. I was required to complete it within a week and defend it in front of a panel
                of professors.
            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/Grad-merged.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                    <a href="{{url_for('static', filename= 'docs/UQ-merged.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--    <div class="divider"></div>-->


    <!--    <div class="divider"></div>-->
    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>Masters Thesis </h2>
            <p>
                <!--                <h4><em>Highlights:</em> </h4>-->

                <!--                <ul>-->

                <!--                    <li>Radar Warning Receivers on tactical aircraft passively collect electromagnetic signals to-->
                <!--                        evaluate the level of threat posed by hostile radars such as Multi-Function Radars (MFRs) in a complex electronic warfare environment.</li>-->
                <!--                    <li>We presents a novel grid filter approach to estimate the operational mode probabilities-->
                <!--                        of MFRs using pre-trained Observable Operator Models (OOMs) and Hidden Markov Models (HMMs)-->
                <!--                        in a maximum a posteriori (MAP) sense. </li>-->
                <!--                    <li>The work was funded by DRDC (Defence Research & Development Council of Canada)</li>-->
                <!--                </ul>-->

                Radar Warning Receivers on tactical aircraft
                passively collect electromagnetic signals to assess the threat posed by hostile radars like
                Multi-Function Radars (MFRs) in
                complex electronic warfare environments. This masters work involves developing a grid filter approach to
                estimate the operational mode probabilities
                of MFRs using pre-trained Observable Operator Models and Hidden Markov
                Models in a maximum a posteriori sense.

            </p>
            <p>
            <div class="icon-row">

                <div class="icon-row">
                    <a href="{{url_for('static', filename= 'docs/masters_thesis_arasaratnam_2005.pdf')}}"><img
                            src="{{url_for('static', filename= 'images/icon_pdf.png')}}" alt="Image description"></a>
                </div>

            </div>
            </p>
        </div>
    </div>
    <!--        <div class="divider"></div>-->


    <div class="box">
        <div class="img-container">
            <img src="{{url_for('static', filename= 'images/radar.jpg')}}" alt="Image">
        </div>
        <div class="text-container">
            <h2>Letters of Commendation received for my PhD work</h2>
            <p>
                <!--                -->
            <ul>

                <li>Here are three sample letters received from <a
                        href="{{url_for('static', filename= 'docs/phd_commendations.pdf')}}" target="_blank"> industry
                        and academia </a> after a formal publication of my PhD work.
                </li>
                <li>Thank you to others whom I could not include here.</li>

            </ul>
            </p>
        </div>
    </div>


</div>


<!--    <p>I&rsquo;m Allen Wang and this is my personal website. I call this online hub of mine <em>Allen&rsquo;s-->
<!--        Whiteboard</em> &lsquo;cause I really enjoy drafting here anything I&rsquo;m interested in. I finished my-->
<!--        undergrad with a B.A. in <a href="https://www.youtube.com/watch?v=6rXBBqMmIP8"><em>Mathematical-->
<!--            Economics</em></a> from <a href="http://www.fudan.edu.cn/en/">Fudan University</a> in China, and a-->
<!--        (not-BS-at-all) B.S. in <a-->
<!--                href="https://www.quora.com/What-is-the-difference-between-statistics-and-econometrics"><em>Econometrics</em></a>-->
<!--        and <a href="https://imgs.xkcd.com/comics/travelling_salesman_problem.png"><em>Operations Research</em></a> from-->
<!--        <a href="https://www.rug.nl">de Rijksuniversiteit Groningen</a> in Netherlands. Guess you&rsquo;re wondering why-->
<!--        on earth would a man go for two degrees across the whole Eurasia Plate. I don&rsquo;t quite know, either. Human-->
<!--        beings are notorious for changing their &ldquo;lifelong persuit&rdquo; all their entire life. I&rsquo;ve known-->
<!--        how economists would use <a href="https://imgs.xkcd.com/comics/game_theory.png">game theory</a> to explain a-->
<!--        trade-war. I&rsquo;ve seen how econometricians and statisticians argue over <a-->
<!--                href="https://imgs.xkcd.com/comics/p_values.png">p-value</a> (and agree on time-series analysis, sadly).-->
<!--        I&rsquo;ve even tried to solve real-life ward allocation as an ill-posed optimization problem. But eventually,-->
<!--        it turns out that I&rsquo;m most excited after designing a successful poker AI following game theory, that I&rsquo;m-->
<!--        more keen on predicting price dynamics regardless of method, and that I modeled the ward problem as a-->
<!--        high-dimensional <a href="https://flappybird.io">flappy bird</a> game and solved it with <a-->
<!--                href="https://imgs.xkcd.com/comics/game_ais.png">reinforcement learning</a> — really enjoyed playing it-->
<!--        myself and realizing how impossible it was to beat my AI on scoreboard. Late 2018, I jumped onto the flight to-->
<!--        America and received a M.S. in <a-->
<!--                href="https://www.reddit.com/r/Jokes/comments/6a4ovi/two_economists_walk_down_a_road/"><em>Financial-->
<!--            Mathematics</em></a> from <a href="https://www.uchicago.edu">the University of Chicago</a> the second year.-->
<!--        I&rsquo;m currently a quant in a propriatary trading firm based in Chicago. I play poker, ping pong and a number-->
<!--        of other ball games. I also spend hours on all sorts of, sometimes competitive, video games every week with my-->
<!--        pals. I&rsquo;m a certified saxophone player with almost 20 years of experience and an amateur gastronome doing-->
<!--        experiments in his kitchen every single day.-->
<!--    </p>-->
<!--    <p>You&rsquo;re always welcome to use <em>Left</em> and <em>Right</em> arrow keys on your keyboard when browsing my-->
<!--        blog.</p>-->
<!--  <p><img src=images/divider.png style="width:min(100%,300px)"></img></p>-->

<!--  <p>这里是汪洋的个人主页。本人来自银河系料酒之乡浙江绍兴，现居芝加哥，考出了驾照但还是不喜欢开车（但很喜欢骑自行车，guess what）所以多年待业在家，偶尔吹萨克斯，也会画一点画（譬如这个网站的头像）、打一些球、拉一杯拿铁甚至偶尔滑一个雪，但都不是很精通；业余帮本地一家小公司采购<del>面粉和猪肉</del>汽油什么的，所幸还没被开除。我在人生的前四分之一认识了了很多有意思的人，比如著名算法科学家<a href="https://github.com/JTJL">毛毛</a>；也遇到过不少糟心的事，譬如强迫自己在复旦学经济。我是一个很普通的人，梦想有朝一日能上火星，持有但非常怀疑比特币，同理 for 大部分机器学习，打狼人不擅长悍跳，打各种游戏优先武僧，平生最害怕的事情是在任何场合碰上猪队友、下班起身发现代码有 bug、买了好多食材最后过期和别人问我“为什么你头像是一个红色的电话亭”（历时三年我终于换掉了<a href="/blog/is-my-apple-pencil-broken#toc_5">这个头像</a>）。你或许已经发现（或许没有）我有一点点强迫症，所以如果你发现我的博客有什么地方出现了问题，请第一时间告诉我：你可以通过<a href="/cdn-cgi/l/email-protection#3c5d504a5d5159594e7c5b515d5550125f5351">邮件</a>联系我，谢谢。最后，允许我假装文青地送一句诗给你（别问我为什么是这句，刷新一下页面你就知道了）：</p>-->





{% endblock %}