{% extends "base.html" %}

{% block content %}


<article class="main">

    <!--    <header >-->
    <!--    <h2> Haran Arasaratnam </h2>-->
    <p class="s1" style="padding-top: 6pt;padding-left: 61pt;text-indent: 0pt;text-align: center; color: #b40203">Haran
        Arasartnam</p>
    <!--    </header>-->

    <p class="s2" style="padding-top: 1pt;padding-left: 61pt;text-indent: 0pt;text-align: center; color:#b40203">
        haran.arasaratnam@icloud.com
        <!--        <a href="https://github.com/haransll/"-->
        <!--           style=" color: #191919; font-family:&quot;Palatino Linotype&quot;, serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt;"-->
        <!--           target="_blank">| </a>ameyabp.github.io -->
        <a href="https://www.linkedin.com/in/haranarasaratnam/"
           style=" color: #191919; font-family:&quot;Palatino Linotype&quot;, serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt;"
           target="_blank">| </a>linkedin/haran-arasaratnam <span
            class="h1">| </span><span style=" color: #191919;">+1(123) 456 7890</span>
    </p>

    <!--    <div class="center">-->
    <!--        <p><span><strong></strong></span><br/>-->
    <!--            <a href="mailto:haran.arasaratnam@icloud.com">haran.arasaratnam@icloud.com</a> <span-->
    <!--                    class="math inline">|</span> (123) 456-7890 <span-->
    <!--                    class="math inline">|</span> <a href="https://github.com/haransll/"-->
    <!--                                                    class="uri">https://github.com/haransll/</a> <span-->
    <!--                    class="math inline">|</span> <a-->
    <!--                    href="https://www.linkedin.com/in/haranarasaratnam/"-->
    <!--                    class="uri">https://www.linkedin.com/in/haranarasaratnam/</a></p>-->
    <!--    </div>-->

    <!--    <div class="divider"></div>-->


    <h1 class="unnumbered" style="color: #b40203">Education<span class="line"></span></h1>
    <!--    <h1>Some header text</h1>-->
    <!--    <hr style="border: none; border-top: 1px solid black; margin: 0; width: 100%;">-->
    <!--    <h1>Some header text</h1>-->
    <!--    <hr style="width: 100%; margin-top: 0; margin-bottom: 0;">-->


    <h2 class="unnumbered" id="university-of-engineering-city-st"><a href="https://www.eng.mcmaster.ca/ece/">McMaster University</a>, Hamilton, ON, Canada</h2>
    <p><em>PhD in Electrical & Computer Engineering, April 2009</em><br/>
<!--    <ul>-->
<!--        <li>10+ journals and 20+ peer-reviewed conference papers in addition to a US patent</li>-->
<!--        <li>GPA: 4.0/4.0</li>-->
<!--    </ul>-->

    </p>
    <p><em>M.A.Sc. in Electrical & Computer Engineering, Dec. 2004</em><br/>
<!--    <ul>-->
<!--        <li>GPA: 3.9/4.0</li>-->
<!--    </ul>-->

    </p>
    <p><em>Research Advisor: <a href="https://www.amazon.com/s?k=simon+Haykin&i=stripbooks&crid=1RJ43TQ1AORNF&sprefix=simon+haykin%2Cstripbooks%2C141&ref=nb_sb_noss_1">Dr. Simon Haykin</a></em><br/>
    </p>

    <h1 class="unnumbered" id="experience" style="color: #b40203">Experience<span class="line"></span></h1>
    <h2 class="unnumbered" id="abc-company-city-st"><a href="https://www.apple.com">Apple Inc</a>, Cupertino,
        CA</h2>
    <p><em>Battery Qualification Leader, Sep 2014 - Present</em></p>
<!--    <ul>-->
<!--        &lt;!&ndash;        <li><p></p></li>&ndash;&gt;-->
<!--        <li><p>Validation and verification of Battery Management System (BMS) algorithms, model assumptions, accuracy &-->
<!--            performance-->
<!--        </p></li>-->
<!--        &lt;!&ndash;        <li><p>Managed a team of engineers and designers to complete projects on&ndash;&gt;-->
<!--        &lt;!&ndash;            time and within budget.</p></li>&ndash;&gt;-->
<!--    </ul>-->
    <h2 class="unnumbered" id="xyz-corporation-city-st"><a href="https://corporate.ford.com">Ford Motor Co,</a>
        Windsor, ON</h2>
    <p><em>R&D Engineering, Jan 2010 - Aug 2014</em></p>
<!--    <ul>-->
<!--        <li><p>Collaborated with electrical, firmware and cell engineers for development and implementation of battery-->
<!--            algorithms to improve battery performance-->
<!--            such as fast charging, cycle life and peak power capability</p></li>-->
<!--        <li><p>Led battery testing and characterization using high voltage cyclers, EIS and power supplies</p></li>-->
<!--        <li><p>Worked with universities, co-supervised graduate projects and published papers with them jointly</p></li>-->
<!--    </ul>-->
    <h1 class="unnumbered" id="skills" style="color: #b40203">Skills<span class="line"></span></h1>
    <ul>
        <li><p> Expert knowledge in signal processing, estimation & control theories for BMS design & development</p>
        </li>
        <li><p>Experienced with AI/ML based algorithms</p></li>
        <li><p>Proficient in scientific coding languages like with Python, MATLAB and C</p></li>
        <li><p>Skilled in product launches, team building and
            project planning</p></li>
        <li><p>(Co-) author of x15 Journals, x12 Conference Papers, x3 Book Chapters and one US patent</p></li>
    </ul>


        <h1 class="unnumbered" id="" style="color: #b40203">Awards<span class="line"></span></h1>
    <ul>
        <li><p>NSERC’s Industrial Research and Development Fellowship </p>
        </li>
        <li><p>Best Ph.D. Qualifying Exam Award</p></li>                                                                                                    </p></li>
        <li><p>Best Thesis Research Award in the Signal Processing Category at M.Sc. Level</p></li>
        <li><p>Graduate Scholarship, McMaster University, Canada</p></li>
        <li><p>Int’l Radar Conference Travel Award</p></li>
        <li><p>Super Merit Higher Education Scholarship</p></li>
    </ul>

</article>

{% endblock %}